.navbarContainer {
    display: flex;
    background-color: black;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logoImage {
    max-width: 300px;
    max-height: 150px;
    padding: 20px;
    cursor: pointer;
}

.navMenuContainer {
    margin-left: auto;
    margin-right: 45px;
    font-family: 'Ubuntu', sans-serif;
}
.homeBtn,
.servicesBtn,
.productsBtn {
    margin-right: 10px;
    border: 0;
    color: white;
    background-color: transparent;
    font-size: 1.3rem;   
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 3px;
}

.homeBtn:hover,
.servicesBtn:hover,
.productsBtn:hover {
    background-color: rgb(43, 43, 43);
}

.homeBtn:active,
.servicesBtn:active,
.productsBtn:active {
    transition: all ease-in-out 0.1s;
    scale: 1.05;
}

.signUpBtn {
    margin-right: 60px;
    font-family: 'Ubuntu', sans-serif;
    width: 110px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.signUpBtn:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.signUpBtn:active {
    transition: all ease-in-out 0.1s;
    scale: 0.98;
}

.burgerMenu {
    display: none;
}

@media (max-width: 900px) {
    .navbarContainer {
        display: flex;
        background-color: black;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .logoImage {
        max-width: 200px;
        max-height: 100px;
        padding: 15px;
    }
    
    .navMenuContainer {
        display: none;
    }
    .homeBtn,
    .servicesBtn,
    .productsBtn {
        background-color: black;
        border-radius: 0;
        width: 100%;
        padding: 30px 0px;
    }
    

    
    .signUpBtn {
        display: none;
    }

    .burgerMenu {
        display: block;
        margin-left: auto;
        margin-right: 70px;
    }

    .responsiveSignUpBtn {
        height: 70px;
        font-size: 1.5rem;
        background-color: white;
        border: 0;
        transition: all ease-in-out 0.3s;
    }

    .responsiveSignUpBtn:hover {
        color: white;
        background-color: black;
    }

    .responsiveSignUpBtn:active {
        font-size: 1.4rem;
    }

    .fa-x {
        color: white;
        scale: 2;
        transition: all ease-in-out 0.3s;
        margin-right: 2px;
    }

    .fa-bars {
        color: white;
        scale: 2;
        transition: all ease-in 0.3s;
    }

    .slideIn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 61.594px;
        position: fixed;
        width: 100%;
        transition: all ease-in-out 0.5s;
        border-top: 1px solid white;
        z-index: 5;
    }

    .slideIn {
        animation-name: slide-in;
        animation-duration: 0.7s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
    }
      
    @keyframes slide-in {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0);
        }
    }

}

@media (max-width: 450px) {
    .burgerMenu {
        margin-right: 60px;
    }
}