.titleSection {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: auto;
}

.titleSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.bgVideo {
    margin-top: 87.375;
    position: relative;
    width: 100%;
    z-index: -5;
    opacity: 0.7;
    
}

.titleContainer {
    transition: all ease-in-out 1s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    top: 30vh;
    width: 100%;
    margin: auto;
}

.title {
    color: white;
    font-size: 4.3rem;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    margin-bottom: 0;
}

.name {
    text-decoration: underline;
    
}

.slogan {
    color: white;
    font-size: 1.8rem;
    text-shadow: 3px 3px 5px black;
}

.servicesTitleBtn,
.productsTitleBtn {
    width: 250px;
    height: 49px;
    border: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: width ease-in-out 1s;
    outline: 0;
}

.servicesTitleBtn {
    transition: background-color ease-in-out 0.3s;
    background-color: rgb(255, 255, 255);
}

.productsTitleBtn {
    transition: background-color ease-in-out 0.3s;
    background-color: rgb(0, 0, 0);
    color: white;
}

.servicesTitleBtn:hover {
    background-color: black;
    color: white;
}

.productsTitleBtn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.descriptionRedirecterText {
    color: white;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px black;
    margin-top: 20vh;
}

.descriptionRedicrecter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: rgb(69, 68, 68);
    border-radius: 100%;
    cursor: pointer;
    animation: flow 2s ease-in-out infinite;
}


@keyframes flow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.descriptionRedicrecter:hover {
    background-color: gray;
    transition: background-color ease-in-out 0.25s;
}



.fa-arrow-down {
    color: white;
    scale: 2;
}

@media (max-width: 1346px) {
    .titleContainer {
        margin-top: -15vh;
    }

    .title {
        font-size: 2.9rem;
    }

    .slogan {
        font-size: 1.5rem;
    }

    .descriptionRedirecterText {
        font-size: 1.2rem;
        margin-top: 30px;
    }

    .servicesTitleBtn,
    .productsTitleBtn {
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
        border: 0;
    }
    
}

@media (max-width: 800px) {

    .titleContainer {
        top: 25vh;
    }

    .title {
        font-size: 1.9rem;
    }

    .slogan {
        font-size: 1.1rem;
    }

    .descriptionRedirecterText {
        display: none;
    }

    .servicesTitleBtn,
    .productsTitleBtn {
        width: 120px;
        margin-left: 10px;
        margin-right: 10px;
        border: 0;
    }

    .descriptionRedicrecter {
        display: none;
    }

    .bgVideo {
        height: 50vh;
    }
}