.listContainer {
    padding: 20px 20px;
    background-color: rgb(1, 74, 103);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(108, 107, 107);
}

.addContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.listInput {
    margin: 0;
    width: 350px;
    height: 40px;
    border: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
    background-color: rgb(135, 178, 195);
    color: rgb(1, 74, 103);
    

}

.listInput::placeholder {
    color: rgb(1, 74, 103);
}

.listInput:focus {
    outline: none;
    border: none;
}

.listAddBtn {
    margin: 0;
    width: 42px;
    height: 42px;
    border: 0;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(135, 178, 195)
}

.listAddBtn:hover {
    cursor: pointer;
}

.fa-plus {
    color: rgb(1, 74, 103);
    scale: 2;
} 

.fa-plus:hover {
    scale: 2.4;
    transition: all ease-in-out 0.1s;
}

.fa-plus:active {

    scale: 2.2;
}