body {
    margin: 0;
    padding: 0;
    background-color: rgb(7, 14, 24);
    font-family: 'Poppins', sans-serif;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    align-items: start;
    width: 100%;
}

.titleContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.title .titleContainer h1 {
    margin-left: 5vw;
    font-size: 3.5vw;
}

.modeToggleButton {
    margin-left: auto;
    margin-right: 5vw;
    background-color: white;
    color: black;
    border: 0;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid rgb(7, 14, 24);
}