.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titleText {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.titleImage {
    width: 350px;
    margin: auto;
}